* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 0;
}

html {
  height: 100%;
  font-family: sans-serif;
}

/* COLORS */
/* SIZING and calc */
.mainmenu_link {
  font-size: 16px;
}

html {
  height: 100%;
  font-size: 16px;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #e9eaec;
}

.wraphead, .wrapfoot {
  display: block;
  width: 100%;
  background: #1f3948;
}

#header {
  position: relative;
}

#logo {
  display: block;
  width: 80px;
  height: 80px;
  background: #c2c3c4;
  margin: 0 auto;
}

#mainmenu_button {
  display: block;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 24px;
  color: #e9eaec;
  border-radius: 8px;
  cursor: pointer;
  outline: 1px dotted red;
}

.mainmenu_list {
  list-style: none;
}

.mainmenu_item {
  display: block;
}

.mainmenu_link {
  display: block;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #e9eaec;
  text-decoration: none;
}

.mainmenu_link:active {
  background-color: #127e9b;
}
