#mainmenu_button
  span#menusign
ul.mainmenu_list
  li.mainmenu_item
    a.mainmenu_link(href="#") Lifeline
  li.mainmenu_item
    a.mainmenu_link(href="#") Portfolio
  li.mainmenu_item
    a.mainmenu_link(href="#") Gallery
  li.mainmenu_item
    a.mainmenu_link(href="#") Articles