doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="stylesheet" href="css/main.css")
		title Portfolio
	body
		.wrapper
			header#header
				#logo
				#mainmenu
					#button_mainmenu
					ul.mainmenu_list
						li.mainmenu_item
							a.mainmenu_link(href="#")
						li.mainmenu_item
							a.mainmenu_link(href="#")
						li.mainmenu_item
							a.mainmenu_link(href="#")
						li.mainmenu_item
							a.mainmenu_link(href="#")
						li.mainmenu_item
							a.mainmenu_link(href="#")
			main.content
				section#about
				section#photo
				section#design
				section#frontend
				section#backend
				section#contacts
			footer#footer
			#top