* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0
}
a,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 16px
}
html {
  font-size: 16px
}
body {
  background: #f7f6f2 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAMAAABL52QCAAAABlBMVEXCw8Tp6uwFw7MwAAAAF0lEQVR4AWNgYAQCCMEAIoAQgkA8/LIABOwAKWIaZEkAAAAASUVORK5CYII=);
  font-family: Roboto,sans-serif;
  color: #4b6587;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
@media print {
  body {
    background: 0 0
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto,sans-serif;
  color: #4b6587;
  font-weight: 700;
  line-height: 2em
}
h2,
h3 {
  color: #c8c6c6
}
h4,
h5,
h6 {
  font-family: Roboto,sans-serif;
  color: #777
}
h1 {
  font-size: 32px;
  color: #900
}
h2 {
  font-size: 28px
}
h3 {
  font-size: 24px
}
h4 {
  font-size: 20px
}
h5 {
  font-size: 18px
}
h6 {
  font-size: 16px
}
p {
  text-align: left;
  line-height: 1
}
blockquote {
  color: #c8c6c6;
  margin: 16px 48px;
  padding: 8px 8px 8px 16px;
  border-left: 4px solid #c8c6c6;
  font-style: italic;
  border-radius: 0 16px 16px 0
}
a {
  text-indent: 0;
  color: #c8c6c6;
  text-decoration: none
}
a:hover {
  color: #900
}
section {
  margin: 0;
  padding: 0
}
select {
  display: block;
  margin: 1mm;
  height: 8mm;
  font-size: 4mm;
  color: #4b6587
}
.button-inline {
  display: inline-block;
  vertical-align: baseline;
  height: 24px;
  padding: 0 1em;
  line-height: 24px;
  margin: 0 12px;
  background: -webkit-gradient(linear,left top,left bottom,from(#f7f6f2),to(#e1e0e0));
  background: -o-linear-gradient(top,#f7f6f2 0,#e1e0e0 100%);
  background: linear-gradient(to bottom,#f7f6f2 0,#e1e0e0 100%);
  font-size: 16px;
  font-family: "Segoe UI",Segoe,Arial,Verdana,sans-serif;
  color: #777;
  text-decoration: none;
  border-radius: .5rem;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 0 .1rem #f0e5cf;
  box-shadow: 0 0 .1rem #f0e5cf
}
.button-inline:hover {
  background: -webkit-gradient(linear,left top,left bottom,from(#c8c6c6),color-stop(48%,#5f7ea6),color-stop(52%,#547197),to(#777));
  background: -o-linear-gradient(top,#c8c6c6,#5f7ea6 48%,#547197 52%,#777);
  background: linear-gradient(to bottom,#c8c6c6,#5f7ea6 48%,#547197 52%,#777);
  color: #fff
}
.button-inline:active {
  position: relative;
  top: 1px;
  background: -webkit-gradient(linear,left top,left bottom,from(#afacac),color-stop(48%,#547197),color-stop(52%,#4b6587),to(#777));
  background: -o-linear-gradient(top,#afacac,#547197 48%,#4b6587 52%,#777);
  background: linear-gradient(to bottom,#afacac,#547197 48%,#4b6587 52%,#777);
  border-right-color: #f7f6f2;
  border-bottom-color: #f7f6f2
}
.button {
  display: inline-block;
  vertical-align: top;
  margin: 4px;
  background-color: rgba(233,234,236,.3);
  color: #4b6587;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #f0e5cf;
  line-height: 32px;
  -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.1);
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
  -webkit-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s
}
.button:hover {
  background-color: #fcfaf6;
  -webkit-box-shadow: 0 4px 6px rgba(0,0,0,.2);
  box-shadow: 0 4px 6px rgba(0,0,0,.2)
}
.button:active {
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.2);
  box-shadow: 0 2px 6px rgba(0,0,0,.2);
  background-color: #e4d0a8
}
.btn-primary {
  background-color: #1f3948;
  color: #f7f6f2;
  -webkit-box-shadow: 0 4px 4px rgba(31,57,72,.2);
  box-shadow: 0 4px 4px rgba(31,57,72,.2);
  border-color: #777
}
.btn-primary:hover {
  background-color: #c8c6c6;
  color: #f7f6f2;
  -webkit-box-shadow: 0 4px 6px rgba(18,126,155,.4);
  box-shadow: 0 4px 6px rgba(18,126,155,.4)
}
.btn-primary:active {
  background-color: #afacac;
  color: #f7f6f2;
  -webkit-box-shadow: 0 2px 6px rgba(18,126,155,.4);
  box-shadow: 0 2px 6px rgba(18,126,155,.4)
}
.btn-danger {
  background-color: rgba(153,0,0,.3);
  color: #900;
  border-color: #900;
  -webkit-box-shadow: 0 4px 4px rgba(153,0,0,.2);
  box-shadow: 0 4px 4px rgba(153,0,0,.2)
}
.btn-danger:hover {
  background-color: #c00;
  color: #f7f6f2;
  -webkit-box-shadow: 0 4px 6px rgba(153,0,0,.4);
  box-shadow: 0 4px 6px rgba(153,0,0,.4)
}
.btn-danger:active {
  background-color: #600;
  color: #f7f6f2;
  -webkit-box-shadow: 0 2px 6px rgba(153,0,0,.4);
  box-shadow: 0 2px 6px rgba(153,0,0,.4)
}
.btn-info {
  background-color: rgba(18,126,155,.3);
  color: #c8c6c6;
  border-color: #c8c6c6;
  -webkit-box-shadow: 0 4px 4px rgba(18,126,155,.2);
  box-shadow: 0 4px 4px rgba(18,126,155,.2);
  cursor: help
}
.btn-info:hover {
  background-color: #e1e0e0;
  color: #f7f6f2;
  -webkit-box-shadow: 0 4px 6px rgba(18,126,155,.4);
  box-shadow: 0 4px 6px rgba(18,126,155,.4)
}
.btn-info:active {
  background-color: #afacac;
  color: #f7f6f2;
  -webkit-box-shadow: 0 2px 6px rgba(18,126,155,.4);
  box-shadow: 0 2px 6px rgba(18,126,155,.4)
}
.btn-success {
  background-color: rgba(0,132,15,.3);
  color: #00840f;
  border-color: #00840f;
  -webkit-box-shadow: 0 4px 4px rgba(0,132,15,.2);
  box-shadow: 0 4px 4px rgba(0,132,15,.2)
}
.btn-success:hover {
  background-color: #00b715;
  color: #f7f6f2;
  -webkit-box-shadow: 0 4px 6px rgba(0,132,15,.4);
  box-shadow: 0 4px 6px rgba(0,132,15,.4)
}
.btn-success:active {
  background-color: #005109;
  color: #f7f6f2;
  -webkit-box-shadow: 0 2px 6px rgba(0,132,15,.4);
  box-shadow: 0 2px 6px rgba(0,132,15,.4)
}
.btn-attention {
  background-color: rgba(220,140,0,.3);
  color: #dc8c00;
  border-color: #dc8c00;
  -webkit-box-shadow: 0 4px 4px rgba(220,140,0,.2);
  box-shadow: 0 4px 4px rgba(220,140,0,.2)
}
.btn-attention:hover {
  background-color: #ffa810;
  color: #f7f6f2;
  -webkit-box-shadow: 0 4px 6px rgba(220,140,0,.4);
  box-shadow: 0 4px 6px rgba(220,140,0,.4)
}
.btn-attention:active {
  background-color: #a96c00;
  color: #f7f6f2;
  -webkit-box-shadow: 0 2px 6px rgba(220,140,0,.4);
  box-shadow: 0 2px 6px rgba(220,140,0,.4)
}
.btn-disabled {
  background-color: rgba(233,234,236,.5);
  color: #f0e5cf;
  -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.1);
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
  cursor: not-allowed
}
.btn-disabled:active,
.btn-disabled:hover {
  background-color: rgba(233,234,236,.5);
  color: #f0e5cf;
  -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.1);
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
  cursor: not-allowed
}
img {
  width: 100%;
  image-rendering: -webkit-optimize-contrast
}
.img-article {
  width: calc(100% - 24px);
  margin: 12px
}
.thumb {
  width: calc(100% - 24px);
  margin: 8px;
  border-width: 8px;
  border-style: solid;
  border-color: #fff;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,.3);
  box-shadow: 0 0 8px rgba(0,0,0,.3)
}
.thumb-320 {
  width: 288px
}
.primary {
  background-color: #1f3948;
  color: #f7f6f2;
  -webkit-box-shadow: 0 4px 4px rgba(31,57,72,.2);
  box-shadow: 0 4px 4px rgba(31,57,72,.2);
  border-color: #777
}
.danger {
  background-color: rgba(153,0,0,.3);
  color: #900;
  border-color: #900;
  -webkit-box-shadow: 0 4px 4px rgba(153,0,0,.2);
  box-shadow: 0 4px 4px rgba(153,0,0,.2)
}
.info {
  background-color: rgba(18,126,155,.3);
  color: #c8c6c6;
  border-color: #c8c6c6;
  -webkit-box-shadow: 0 4px 4px rgba(18,126,155,.2);
  box-shadow: 0 4px 4px rgba(18,126,155,.2);
  text-decoration: none
}
.success {
  background-color: rgba(0,132,15,.3);
  color: #00840f;
  border-color: #00840f;
  -webkit-box-shadow: 0 4px 4px rgba(0,132,15,.2);
  box-shadow: 0 4px 4px rgba(0,132,15,.2);
  text-decoration: line-through
}
.attention {
  background-color: rgba(220,140,0,.3);
  color: #dc8c00;
  border-color: #dc8c00;
  -webkit-box-shadow: 0 4px 4px rgba(220,140,0,.2);
  box-shadow: 0 4px 4px rgba(220,140,0,.2)
}
.disabled {
  background-color: rgba(233,234,236,.5);
  color: #f0e5cf;
  -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.1);
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
  cursor: not-allowed
}
.container {
  display: block;
  width: 100%;
  margin: 0 auto;
  overflow: hidden
}
@media screen and (min-width:721px) and (max-width:960px) {
  .container {
    width: 690px
  }
}
@media screen and (min-width:961px) and (max-width:1280px) {
  .container {
    width: 930px
  }
}
@media screen and (min-width:1281px) and (max-width:1920px) {
  .container {
    width: 1250px
  }
}
@media screen and (min-width:1920px) {
  .container {
    width: 1880px
  }
}
body {
  padding: 0;
  margin: 0
}
input {
  height: 32px;
  margin: 0;
  padding: 0;
  line-height: 32px;
  font-size: 16px
}
input[type=text] {
  border-radius: 5px;
  border: 1px solid #4b6587;
  margin: 10px 0 10px 10px;
  width: 510px;
  text-indent: .5em
}
button {
  margin: 10px 5px!important
}
#wrapper {
  width: 100%;
  height: 100vh
}
#canvas {
  width: 600px;
  margin: 0 auto;
  padding: 10px
}
.item {
  position: relative;
  -webkit-animation: adding .3s ease-out;
  animation: adding .3s ease-out;
  margin: 16px;
  padding: 8px;
  border-left: 4px solid;
  font-style: italic;
  border-radius: 0 19px 19px 0
}
.submenu {
  width: 28px;
  height: 28px;
  position: absolute;
  right: 7px;
  top: 7px;
  border-radius: 14px;
  padding: 0;
  margin: 0;
  text-align: center;
  color: inherit;
  border-color: inherit;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer
}
.submenu:hover {
  border-color: #fff
}
.delete > i {
  font-size: 20px;
  line-height: 28px
}
.item > i {
  font-size: 20px;
  line-height: 28px;
  margin: 0 16px 0 0
}
@-webkit-keyframes adding {
  from {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px)
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
@keyframes adding {
  from {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px)
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
.deletion {
  -webkit-animation: removal 1s;
  animation: removal 1s
}
@-webkit-keyframes removal {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px)
  }
}
@keyframes removal {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px)
  }
}
#wrapper {
  width: 100%;
  height: 100%
}
[v-cloak] {
  display: none
}
.dsp-grey {
  background-color: #c8c6c6;
  border-radius: 4px;
  border-width: 2px;
  border-color: #c8c6c6;
  border-style: solid;
  border-top-color: #fff;
  border-left-color: #fff;
  border-right-color: #898585;
  border-bottom-color: #898585;
  -webkit-box-shadow: 0 16px 16px rgba(0,0,0,.6);
  box-shadow: 0 16px 16px rgba(0,0,0,.6)
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background: #777 url(/../img/darkwoodtexture.jpg) center center repeat
}
#logoblock {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  padding: 16px 32px;
  margin: 2px
}
#mainmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-flow: column-reverse nowrap;
  flex-flow: column-reverse nowrap;
  background: 0 0;
  margin: 2px
}
#navmenuadspace {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 4px
}
.mainmenu {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-preferred-size: 80px;
  flex-basis: 80px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around
}
.mainmenu li {
  -ms-flex-line-pack: end;
  align-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-flow: column-reverse nowrap;
  flex-flow: column-reverse nowrap
}
.mainmenu li a {
  display: inline-block;
  padding: 8px;
  color: #c8c6c6;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
  text-shadow: 0 1px 2px #000
}
.mainmenu li a:hover {
  color: #f5f5f5;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
  text-shadow: 0 2px 5px #000
}
.mainmenu #hotoffers a {
  color: #ff4500;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
  text-shadow: 0 1px 2px grba(0,0,0,.4)
}
.mainmenu #hotoffers a:hover {
  color: #ff0;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
  text-shadow: 0 2px 5px orange
}
.infoblock {
  height: 100px;
  width: 100%;
  outline: 1px dotted #900
}