doctype html
html(lang="en")
	include _header
	body
		#wrapper.container 
			header.header
				#logoblock
					include _logo_optimized
				nav#mainmenu
					ul.mainmenu 
						li 
							a(href="#") FurnInfo
						li 
							a(href="#") Workhouse
						li#hotoffers
							a(href="#") Hot offers
						li 
							a(href="#") Where to find
						li 
							a(href="#") Contact us
					#navmenuadspace.dsp-grey
			main
				section#info.infoblock
				section#about.infoblock
				section#works.infoblock
				section#howitworks.infoblock
				section#howtofind.infoblock
				section#partners.infoblock
			footer 
				section#contacts 
				section#links
				
		script(src="js/scripts.js")