html {
	height: 100%;
	font-size: $basic;
}
body {
	//background: $color-contrast $img-bg left top repeat;
}
.wrapper {
	width: 100%;
	height: 100%;
	background-color: $color-bg;
}
.wraphead, .wrapfoot {
	display: block;
	width: 100%;
	background: $color-main;
	margin: 0 $basic;
	//overflow: hidden;
}
#logo {
	display: inline-block;
}
.mainmenu_list {
	list-style: none;
}
.mainmenu_item {
	display: inline-block;
	vertical-align: top;
}
.mainmenu_link {
	display: block;
	padding: $basic / 2 $basic;
	line-height: $basic * 2;
	color: $color-bg;
	text-decoration: none;
	outline: $test;
}