html {
  height: 100%;
  font-size: $basic;
}
body {
  //background: $color-contrast $img-bg left top repeat;
}
.wrapper {
  width: 100%;
  height: 100%;
  background-color: $color-bg;
}
.wraphead, .wrapfoot {
  display: block;
  width: 100%;
  background: $color-main;
}
#header {
  position: relative;
}
#logo {
  display: block;
  width: $logo-height;
  height: $logo-height;
  background: $color-bgdark;
  margin: 0 auto;
}
#mainmenu_button {
  display: block;
  position: absolute;
  top: $basic / 4;
  right: $basic / 4;
  width: $basic * 2;
  height: $basic * 2;
  line-height: $basic * 2;
  text-align: center;
  font-size: $basic * 1.5;
  color: $color-bg;
  border-radius: $basic / 2;
  cursor: pointer;
  outline: $test;
}
.mainmenu_list {
  list-style: none;
}
.mainmenu_item {
  display: block;
}
.mainmenu_link {
  display: block;
  line-height: $mainmenu-height;
  text-align: center;
  text-transform: uppercase;
  color: $color-bg;
  text-decoration: none;
  &:active {
    background-color: $color-light;
  }
  //outline: $test;
}