/*********** SVG STYLES ************/
@import "_varmix";
#mainlogo {
  display: block;
  position: absolute;
  top: $basic;
  left: $basic;

  width: $basic*8;
  height: ($basic*8)*1.114;
}
#hexunderplate {
  fill: #fff;
}
#hexagonborder {
  fill: #900;
}
#signa, #signv {
  fill: #6e6e6e;
}