*{margin:0;padding:0;border:0;outline:0/*;font-size:0*/}
// V A R I A B L E S
//colors
$color-main: #1f3948;
$color-light: #127e9b;
$color-dark: #002a35;
$color-contrast: #900;
$color-bg: #e9eaec;
$color-bgdark: #c2c3c4;
$gradient-main: linear-gradient(to bottom, $color-light, lighten($color-main, 10%) 48%, lighten($color-main, 5%) 52%, $color-dark);
$gradient-bg: linear-gradient(to bottom, white , $color-bg 49%, lighten($color-bgdark, 10%) 51%, $color-bgdark);
$bgimg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAMAAABL52QCAAAABlBMVEXCw8Tp6uwFw7MwAAAAF0lEQVR4AWNgYAQCCMEAIoAQgkA8/LIABOwAKWIaZEkAAAAASUVORK5CYII=);
//text
$basic: 16px;
$sans-serif: 'Segoe UI', Segoe, Arial, Verdana, sans-serif;
$serif: "Times New Roman", Times, Georgia, serif;
$line-h: 1.5 * $basic;
//other
$test: 1px dotted $color-contrast;